<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .con{
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: linear-gradient(170deg,blueviolet,red,orange);
            
        }
    </style>
</head>
<body>
  <div class="con">
    <form action="/formData/<%=value._id%>" method="post" class="w-50 text-light"  enctype="multipart/form-data">
        <div class="mb-3">
          <label for="name" class="form-label">Enter Name</label>
          <input type="text" value="<%=value.name%>" name="name" class="form-control" id="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <input type="text" value="<%=value.comment%>" name="comment" class="form-control" id="comment">
        </div>
        <div class="mb-3">
          <label for="review" class="form-label">Review</label>
          <input type="text" value="<%=value.review%>" name="review" class="form-control" id="review">
        </div>
        <div class="mb-3">
          <label for="ratings" class="form-label">Give Rating out of 10</label>
          <input type="number" value="<%=value.ratings%>"  name="ratings" class="form-control" id="ratings">
        </div>
      
        <div class="mb-3">
          <label for="inputZip" class="form-label">Image</label>
          <input type="file" value="<%=value.img%>" accept="image/*" name="img" id="" class="form-control">

      </div>   
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>